# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Weather Alarm

on:
  schedule:
    # 주기적으로 N분 간격마다 실행
    - cron:  '0 0/2 * * *' 

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:

      - name : Check out repo
        uses: actions/checkout@v2
      - name : Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.x
          architecture: 'x64'
    
      # 파이썬 관련 패키지를 설치
      - name: Install python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
        
      # 파이썬 파일 실행
      - name: RUN
        run: |
          python3 ./webCrowling_weather.py 
